.App {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  color: #fff !important;
  background: #ffffff !important;
}
.full-card {
  width: 100% !important;
  position: relative;
}
.CardMedia {
  object-fit: cover;
}
.Texts {
}
